.footer {
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 318px;
  max-height: 18px;
  margin: 1139px 762px 60px 200px;
}
